{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container text-center text-monospace mt-4">
	<h3>Recent Posts</h3>
		<div class="container">
			{{range first 5 .Site.RegularPages }}
				{{if eq .Section "post"}}
				<div class="mt-3">
					<h5><a href="{{.Permalink}}">{{.Title}}</a></h5>
					<small>{{ .PublishDate.Format "January 2, 2006" }}</small>
				</div>
				{{end}}
			{{end}}
		</div>
</section>
<section class="container text-center mt-2">
	<a href='{{ "img/no-facebook.png" | absURL }}' target="_blank" class="href">
		<img  class="img-responsive" width="200px" src="https://stallman.org/no-facebook.png" alt="I'm Not On Faceboook">
	</a>
</section>
{{end}}

